<div>

  <div class="row">
    <div class="col-xs-12">
      <div class="question">
        <div class="caption">Question:</div>
        <div>{{question}}</div>
      </div>
      <div class="answer">
        <div class="caption">Answer:</div>
        <div>{{answer}}</div>
      </div>
    </div>
  </div>

  <hr>

  <div style="padding: 15px">
    <div class="row">
      <div class="col-xs-6">
        <input class="btn btn-default" ng-click="addScore(0,100);" type="button" value="Team A Correct">
      </div>
      <div class="col-xs-6">
        <input class="btn btn-default" ng-click="addBonus(0);" type="button" value="Team A 50%">
      </div>
    </div>

    <div class="row" style="margin-top: 20px">
      <div class="col-xs-6">
        <input class="btn btn-default" ng-click="addScore(1,100);" type="button" value="Team B Correct">
      </div>
      <div class="col-xs-6">
        <input class="btn btn-default" ng-click="addBonus(1);" type="button" value="Team B 50%">
      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-xs-12">
      <input class="btn btn-default" ng-click="pass();" type="button" value="Pass">
    </div>
  </div>

</div>