<div class="wwbam-question"  ng-class="{'q-wrong': wrongAnswer, 'q-right': rightAnswer}">
  <div class="top-section">
    <div class="header-section">
      <div class="left-section">
        <div class="levels">
          <div ng-repeat="x in [1,2,3,4,5]" class="level" ng-class="{active: x == currentLevel, finished: x < currentLevel}">
            <p>Level {{x}}</p>
          </div>
        </div>
      </div>
      <div class="right-section">
        <div class="timer">
          {{timeCounter}}
        </div>
      </div>
    </div>
    <div class="question-container" ng-class="{selectable: isClickable}">
      <div class="question" >
        <p class="animated fadeIn delay-2s">{{question.q}}</p>
      </div>
    </div>
  </div>
  <div class="bottom-section">
    <div class="choice-container" ng-repeat="choice in question.c" ng-click="chooseOption(choice)">
      <div class="choice" ng-class="{'selected': choice.selected, 'q-wrong': choice.showWrong, 'q-right': choice.showCorrect, 'no-click': isFrozen}">
        <p class="animated fadeIn delay-2s">{{choice.text}}</p>
      </div>
    </div>
  </div>
  <audio id="q-audio" autoplay>
    <source id="q-audio-src" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>
</div>