.wwbam {
  color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .top-section {
    display: flex;
    flex-direction: row;

    img {
      width: 200px;
      height: 200px;
      margin: 20px;
    }

    .top-center {
      flex-grow: 1;
      display: flex;
      align-items: center;
      text-align: center;

      .top {
        font-size: 60px;
        flex-grow: 1;
      }
    }
  }

  .mid-row {
    text-align: center;
    background: #ccc;
    padding: 10px;
    color: #444;
  }

  .bottom-section {
    flex-grow: 1;
    display: flex;
    background: #dbecb4;

    .rules {
      color: #333;
      font-size: 24px;
      flex-grow: 1;
      padding: 10px 100px;
    }

    .right {
      background: #fff;
      min-width: 400px;
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        width: 250px;
        margin-top: 50px;
      }

      button {
        min-width: 250px;
        font-size: 24px;
        font-weight: bold;
        margin-top: 50px;
      }
    }

    h4 {
      text-align: center;
      margin-top: 50px;
      font-weight: bold;
      font-size: 24px;
    }
  }



}