.wwbam {
  color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;

  background: #0f0c29;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  .top-section {
    display: flex;
    flex-direction: row;

    img {
      width: 200px;
      height: 200px;
      margin: 20px 100px;
    }

    .top-center {
      flex-grow: 1;
      display: flex;
      align-items: center;
      text-align: center;

      .top {
        font-size: 60px;
        flex-grow: 1;
      }
    }
  }

  .mid-row {
    text-align: center;
    background: #ccc;
    padding: 10px;
    color: #444;
  }

  .bottom-section {
    flex-grow: 1;
    display: flex;
    background: #dbecb4;

    .rules {
      color: #333;
      font-size: 30px;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      align-items: center;

      .rules-container {
        max-width: 800px;
      }
    }

    .right {
      background: #fff;
      min-width: 500px;
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        width: 250px;
        margin-top: 50px;
      }

      button {
        min-width: 250px;
        font-size: 24px;
        font-weight: bold;
        margin-top: 50px;
      }
    }

    h4 {
      text-align: center;
      margin-top: 50px;
      font-weight: bold;
      font-size: 30px;
    }
  }



}