@import 'defines';

.full-screen {
  background: $bg-color;
  font-size: 36px;
  height:100vh;
  color: #fff;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */

  &.answer {
    text-align: center;

    .score {
      color: $text-color;
      margin-bottom: 50px;
    }

    .text {
      font-size:calc(100% + 2vw);
    }
  }

  .text {
    padding: 0 100px;
  }

  .intro {
    text-align: center;

    h1 {
      text-transform: uppercase;
      font-size:calc(100% + 4vw);
    }
  }

  &.question {
    font-size: calc(100% + 4vw);
    text-align: center;
  }
}

.categories {
  h2 {
    font-size: calc(100% + 6vw);
    text-align: center;
  }
}

.question-screen {
  .timer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    color: $text-color;
    padding-left: 30px;
    font-size: calc(100% + 6vw);
  }

  .time-band {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    background: $text-color;
    width: 100%;
  }

  .score {
    position: absolute;
    top: 0;
    right: 0;
    height: 100px;
    color: $text-color;
    padding-right: 30px;
    font-size: calc(100% + 6vw);
  }
}

