@import 'defines';

.full-screen {
  background: $bg-color;
  font-size: 36px;
  height:100vh;
  color: #fff;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */

  &.answer {
    text-align: center;

    .score {
      color: $text-color;
      margin-bottom: 50px;
    }

    .text {
      font-size:calc(100% + 2vw);
    }
  }

  .text {
    padding: 0 100px;
  }

  .intro {
    opacity: 0.7;
    z-index: 10;
    text-align: center;

    h1 {
      text-transform: uppercase;
      font-size:calc(100% + 4vw);
    }

    h2 {
      margin-top: 150px;
      text-transform: uppercase;
      font-size:calc(50% + 3vw);
      color: $text-color;
    }
  }

  &.question {
    font-size: calc(100% + 4vw);
    text-align: center;
  }

  &.image-question {
    font-size: calc(50% + 3vw);
    line-height: calc(50% + 3vw);

    .row {
      margin-top: 50px;
    }

    .text {
      margin-top: 100px;
    }
  }
}

.categories {
  h2 {
    font-size: calc(100% + 6vw);
    text-align: center;
  }
}

.question-screen {
  .timer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    color: $text-color;
    padding-left: 30px;
    font-size: calc(100% + 6vw);
  }

  .time-band-bg {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 25px;
    background: #aaa;
    //border-bottom: 2px dotted #eee;
    width: 100%;

    &.red {
      background: #d32800;
      border-bottom: 2px dotted #ff6f4d;
      transition: background 4s;
    }
  }

  .time-band {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    height: 24px;
    background: $text-color;
    width: 100%;

    &.green {
      background: #009153;
      //border-bottom: 2px dotted #37b47e;
    }

    &.yellow {
      background: #c4d100;
      //border-bottom: 2px dotted #f1fc4d;
    }

    &.orange {
      background: #d38a00;
      //border-bottom: 2px dotted #ffc24d;
    }

    &.red {
      background: #d32800;
      //border-bottom: 2px dotted #ff6f4d;
    }
  }

  .category {
    position: fixed;
    top: 80px;
    left: calc(50vw - (1000px / 2));
    width: 1000px;
    text-align: center;
    color: $text-color;
    text-transform: uppercase;
    font-size: calc(30% + 2vw)
  }

  .score {
    position: absolute;
    top: 0;
    right: 0;
    height: 100px;
    color: $text-color;
    padding-right: 30px;
    font-size: calc(100% + 6vw);
  }
}

