  <div class="row">
    <div class="col-sm-12">
      <input class="btn btn-default" ng-click="play();" type="button" value="Play">
    </div>

    <br><br>
    <div class="col-sm-12">
      <input class="btn btn-default" ng-click="showRules();" type="button" value="Show Rules">
    </div>

      <br><br>
      <div class="col-sm-12">
          <input class="btn btn-default" ng-click="showNext();" type="button" value="Next">
      </div>

      <br><br>
      <div class="col-sm-12">
          <input class="btn btn-default" ng-click="showCat();" type="button" value="Show Categories">
      </div>
  </div>
